.registerPopup {
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.registerCancel {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}
  
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-weight: 700;
    margin-bottom: 20px;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    color: lightgray;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.registerButton {
    border: none;
    padding: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
  
.success {
    font-size: 12px;
    color: green;
    text-align: center;
}
  
.failure {
    font-size: 12px;
    color: red;
    text-align: center;
}