.popup {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
label {
    width: max-content;
    color: slateblue;
    font-size: 13px;
    border-bottom: 0.5px solid slateblue;
    margin: 3px 0;
}

.review {
    font-size: 14px;
}
  
.star {
    color: gold;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}